<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great destinations</title>
    <link href="./css/style.css" type = "text/css" rel="stylesheet"/>
   <!--  <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pirata+One&display=swap" rel="stylesheet"> -->
</head>
<body>

  <h1>Amazing Destinations for vacations :)</h1>
  By: Jorge Ruiz 

<div>
  <h2 id= "mia">Miami  </h2>

 <div class = "dest_img" >
    <img src="img/miami.jpg" alt="Logo"/> 
 </div>

 <p> Miami is a city to visit during summer since it has many beaches and an 
    amazing nightlife.</p>

    <div class = "dest_info"><ul>
    <li>State: Florida</li>
    <li>Country: United States</li>
    <li>Population: 449,514 habitants</li>
    <li> Latitude: 25.761681</li>
    <li> Latitude: -80.191788</li>
    <li></li><img src="img/usa.jpg" class="flags" alt="Flag of USA" />
  </ul>
</div>
</div>

<div id="even">
 <h2 id= "pic">Pico de Orizaba</h2>
  <div class = "dest_img" >
    <img src="img/orizaba.jpg" alt="Logo"/>
 </div>

 <p> Also known as Citlaltepetl, it is the highest mountain of Mexico. 
    This volcano measures 5,636 meters above sea level and it is located at 
    the seventh spot of the highest mountains worldwide. </p>
    
  <div class = "dest_info"><ul>
    <li>State: Puebla and Veracruz</li>
    <li>Country: Mexico</li>
    <li>Population: 123,182 habitants</li>
    <li> Latitude: 19.03°</li>
    <li> Latitude:  -97.27°</li> 
    <li></li><img src="img/mexico.jpg" alt="flag of Mexico" class="flags mex"  />
    </ul>
   </div>
</div>   

<div>
  <h2 id= "tor">Toronto</h2>
  <div class = "dest_img" >
    <img src="img/toronto.jpg" alt="Logo"/>
  </div>

  <p>The largest city in Canada. Toronto is known for its iconic CN Tower, a symbol of the city 
    and one of the largest communications towers in the world.  </p>
   
    <div class = "dest_info"><ul>
    <li>State: Ontario</li>
    <li>Country: Canada</li>
    <li>Population: 2.83 million habitants</li>
    <li> Latitude: 43.651070</li>
    <li> Latitude: -79.347015</li>
    <li></li><img src="img/canada.jpg" alt="flag of Canada" class="flags" />
  </ul>  
  </div>   
</div>     

<div id="even">
   
   <h2 id= "dub">Dubai</h2>
   <div class="dest_img">
 <img src="img/dubai.jpeg" alt="Logo"/> 
  </div>

 <p> A city of large skycrapers, high-scale businesses, 
    a continually rising economy and luxury living.  </p>

    <div class = "dest_info">
    <li>State: Emirate</li>
    <li>Country: United Arabic Emirates</li>
    <li>Population: 3.05 million habitants</li>
    <li> Latitude: 25.276987</li>
    <li> Latitude: 55.296249</li>
    <li></li><img src="img/UAE.png" alt="flag of UAE" class="flags"  />
  </div> 
</div> 

     
<div>
 </ul>
 <h2 id= "chi">Chicago </h2>
 
 <div class="dest_img">
 <img src="img/chicago.jpg" alt="Logo"  />
</div>

 <p> The Windy City. The city is known for its electric big-city energy, 
    famed restaurants and bars, a world-class cultural scene, iconic architecture,
     and miles of jaw-dropping waterfront.</p>
    
     <div class = "dest_info">
    <li>State: Illinois</li>
    <li>Country: United States</li>
    <li>Population: 2.7 million habitants</li>
    <li> Latitude: 41.881832</li>
    <li> Latitude: -87.623177</li>
    <li></li><img src="img/usa.jpg" alt="flag of usa" class="flags"  />
  </div>
</div>



<div>
    <a href="/"> Home page </a>
</div>
  
 
    
</body>
</html>