<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jorge Ruiz</title>
    <link href="./css/style.css" type = "text/css" rel="stylesheet"/>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
   rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
   crossorigin="anonymous">  
</head>

<body>
 
  <%- include('partials/navbar') %>
 
    <div class ="intro row" >
     <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
       <img src="img/yo.jpg" alt="Logo" class="img-fluid" />
     </div>
     <div class="Title col-sm-12 col-md-4 col-lg-4 col-xl-4">
       <h1>Hi, I am Jorge Ruiz</h1> 
       <p><strong> Student of ISGC</strong></p>
     </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <a class="btn btn-primary" href="/destination" role="button">See my favorites spots</a>
      </div>
  </div>

<!-- <div>
      I am a person who likes to study, play basketball, go to gym and spend time with the family and friends. My goal is to develop 
      my programming abilities and be a proffesional and have my dream car, the audi R8.</p> 
    <blockquote> "I am iron man"  <br/> <b>Tony Stark</b> </blockquote>  
 </div>

 <div>
    <p>These are some of <a href="/destination" >my favorite 
      spots</a>. But the best is this <a href="destination.ejs#chi">one.</a>
      This a link to <a href="https://www.google.com/">Google</a><br/>
  These are the <a href = "#bdays">birthdays</a> of my family. </p>  
 </div>

 <div>
  <a href="destination.ejs#mia"> Miami </a>
</div>

<div>
<a href="destination.ejs#pic"> Pico de Orizaba  </a>
</div>

<div>
<a href="destination.ejs#tor"> Toronto </a>
</div>

<div>
<a href="destination.ejs#dub"> Dubai  </a>
</div>

<div>
<a href="destination.ejs#chi"> Chicago  </a>
-->
<!--
<div class = "background">
    <h2> Background </h2>
    <p>
      I am from the city of Los Mochis, Sinaloa, but currently living in Guadalajara. After graduating of high school, I traveled 
      to Vancouver and lived there for six months and came back to Mexico a month before entering university.
      I study the career of engineering on computer systems and graphics. My goal is to develop my skills that are needed for 
      the industry i will be part of, but also life skills, eventually becoming a professional.
    </p>
 </div>


<div class="education">
    <h2> Education </h2>
    <ul>
     <li> <em>2006-2010</em> : <b><a href="https://www.nuevasenda.com/" target="_blank">Colegio Nueva Senda</a></b> 
       <a href="https://www.nuevasenda.com/" target="_blank"> <img src="img/colegio NS.png" alt="Logo" /> </a> </li>
     
       <li> <em>2010-2022</em> :<b><a href="https://colegiomochis.edu.mx/" target="_blank">Colegio Mochis</a></b>
        <a href="https://colegiomochis.edu.mx/" target="_blank"><img src="img/colegio mochis.png" alt="Logo" /> </a> </li>
      
        <li><em>2023-present</em> :<b> <a href="https://www.up.edu.mx/campus-guadalajara/" target="_blank">Universidad Panamericana, Campus Guadalajara</a></b> 
        <a href="https://www.up.edu.mx/campus-guadalajara/" target="_blank"><img src="img/Up.jpg" alt="Logo" /> </a>  </li>
    </ul>
 </div>

<div class = "skills">
    <h2> Skills </h2>
     <ol>
        <li>Basketball 40%</li>
        <li>Web development 30%</li>
        <li>Artificial Intelligence 15%</li>
        <li>Data Analisis 10%</li>
        <li>Cooking 5%</li>
      </ol>
 </div>

  <div class = "hobbies">
    <h2> Hobbies </h2>
  </div>
--> 
     <!--
      <h3> Favorite food </h3>
        
        Top 5:
        <ol>
            <li>Mexican food</li>
            <li>Italian food</li>
            <li>Japanese food</li>
            <li>Spanish food</li>
            <li>Arab food</li>
         </ol>
           
            Bottom 3:
            <ol> 
              <li>Lebanese food </li>  
              <li>Filipino food </li>  
              <li>Turkish food </li> 
            </ol>
</div> 

   <div class="BMT" >
          <h3>Books, Movies & TV shows</h3> 
          <ul>
               <li><span>Books</span><img src="img/png-harry.png" alt="Logo"  /> 
                  <ol>
                    <li>The hunger games</li>
                    <li>Chronicles of Narnia</li>
                    <li>Harry Potter</li>
                   </ol>
                 </li>
                    
              <li><span>Movies</span> <img src="img/creed.jpg" alt="Logo"  /> 
                <ol>
                  <li>Creed</li>
                  <li>Iron Man</li> 
                  <li>Due Date</li> 
                </ol>
               </li>
               
                    
                    
              <li><span>TV shows</span>  <img src="img/suits.png" alt="Logo" width="40"  />
                <ol>
                  <li>The 100</li> 
                   <li>Game of Thrones</li> 
                  <li>Suits</li> 
                </ol>
                      
             </ul>  
             
    </div>
 -->

    <!-- <div> 
      <h2 id = "bdays">Family Birthdays</h2>
          
      <table >
        <thead>
        <tr>
          <th colspan = "2">Fullname</th>
          <th rowspan="2">Birthdays</th>
        </tr>
      </thead>
    
      <tbody>
        <tr>
          <td>Javier</td>
          <td>Ramirez</td>
          <td>February 23</td>
        </tr>
        
        <tr>
          <td>Maria</td>
          <td>Vazquez</td>
          <td>February 12</td>
        </tr>
      </tbody>
      
      <tfoot>
        <caption> Table of birthdays :) </caption>
      </tfoot>

      </table> 

 </div> -->

   <!-- < <div>
      <h2>Agenda</h2>
      <form action ="#" method = "POST">
        <label for = "event">Event</label>
        <input type="text" name ="event" placeholder="Event"/>
        <label for = "free">Free Time</label>
        <input type = "checkbox" name = "free"/>
        <input type="password" name = "pass" placeholder="password"/>
        <input type ="email" name = "email" placeholder="Email"/>
        <input type = "button" value = "button1"/>
        <input type ="submit" value = "Agregar"/> 
        
      </form>
 </div>      
      -->
    
 <!-- 
    <div class="form">
      <h2>Weekly Schedule Form</h2>
      <form action="#" method="post">
        <label for="date">Date</label><br>
        <input type="date" id="date" name="date"><br>

        <label for="start-time">Time start</label><br>
        <input type="time" id="start-time" name="start-time"><br>

        <label for="end-time">Time end</label><br>
        <input type="time" id="end-time" name="end-time"><br>

        <label for="activity">Activity</label><br>
        <input type="text" id="activity" name="activity"><br>

        <label for="place">Place</label><br>
        <input type="text" id="place" name="place"><br>

        <label for="type">Type</label><br>
        <select id="type" name="type">
            <option value="school">School</option>
            <option value="personal">Personal</option>
            <option value="professional">Professional</option>
            <option value="familiar">Familiar</option>
            <option value="other">Other</option>
        </select><br>

        <label for="notes">Notes</label><br>
        <input type="text" id="notes" name="notes" placeholder="Enter notes"><br>

        <label for="flag">Flag</label><br>
        <input type="color" id="flag" name="flag"><br>

        <label for="status">Free/Busy</label><br>
        <input type="checkbox" id="status" name="status" value="busy"> Busy<br>

        <input type="submit" value="Add Event">
     </form>
   </div>      

   <div class = "sche" >
     <h2>Weekly Schedule</h2>
      <table border="1">
        <thead>
           <tr>
               <th>Date</th>
               <th>Start</th>
               <th>End</th>
               <th>Activity</th>
               <th>Place</th>
               <th>Type</th>
               <th>Notes</th>
               <th>Free/Busy</th>
            </tr>
         </thead>
       <tbody>
           <tr>
          </tr>
       </tbody>
     </table>
   </div>


 
  <div class="HWM">
     <h2>Heroes, Writers, Musicians</h2>

     <div class="row">
       <div class="column">
         <div class="card">
          <img src="img/nelson.jpg" alt="nelson" style="width:100%">
          <div class="container">
            <h2>Nelson Mandela</h2>
            <p class="title">Activist &amp; Founder</p>
            <p>First black president of South Africa and Nobel Peace Prize in 1993.</p>
            <p>example@example.com</p>
            <p><button class="button">Contact</button></p>
           </div>
         </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="img/cs-lewis.jpeg" alt="CS" style="width:100%">
          <div class="container">
            <h2>C.S. Lewis</h2>
            <p class="title">Writerr</p>
            <p>Author of The chronicles of Narnia</p>
            <p>example@example.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="img/adele.jpg" alt="Adele" style="width:100%">
          <div class="container">
            <h2>Adele</h2>
            <p class="title">Singer</p>
            <p>16 Grammy Awards, 12 Brit Awards (including three for British Album of the Year), an Academy Award, a Primetime Emmy Award, and a Golden Globe Award.</p>
            <p>example@example.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    </div>
  </div>  
--> 
   <!-- <div>
      <a href="/"><p>Go to Top</p></a>
   </div>  
  -->
   
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
   integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
   crossorigin="anonymous"></script>

</body>
</html>