   body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
   
  }
  

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea los elementos con espacio entre ellos */
    color: #FFFFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0 15px; /* Agrega un poco de padding horizontal si es necesario */
    background-color: #020912;
}



 .background {
  border: solid 3px gold;
 }

 .education {
  border: solid 3px chocolate ;
 }

 .skills{
  border: solid 3px aqua ;
 }

 .hobbies {
  border: solid 3px fuchsia;
 }

 .form{
  border: solid 3px blue;
 }

 .sche{
  border: solid 3px rebeccapurple;
 }

 .HWM {
  border: solid 3px red;
 }

 

/*
 .Title {
    margin: 0; 
    padding: 50px; 
    color: #FFFFFF;
}


   h1{
    font-family: 'Sacramento', cursive;
    color:#36454F;
    font-size: 5.5rem; 
    margin: 50px;
  }


  h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    padding-bottom: 10px;
    color:#FF7F50 ;
  }

  h3{
    font-family: 'Montserrat', sans-serif;
    color: black;

  }

  hr{
    border: dotted #EAF6F6;
    width: 4%;
    margin-right: 100px;
    margin-left: 100px;

  }

  a{
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    color: green; 
}
.education img{
  max-width: 100px;
  max-height: 100px;
}

.BMT img{
  max-width: 50px;
  max-height: 50px;
}

.flags {
  width : 100px;
  border : 1px dotted red;
}

.DestNames{
  background-color: aqua;
  text-align: center;
}
 


#mia {
  background-color: aqua;
  text-align: center;
}

#pic {
  background-color: gray;
  text-align: center;
}
#dub {
  background-color: green;
  text-align: center;
}
#tor {
  background-color: red;
  text-align: center;
}
#chi {
  background-color:greenyellow;
  text-align: center;
}

.mex {
  padding: 5px;
  border-radius: 30%;
}

ul {
  list-style-position: inside; 
 
}

ol li {
 
  list-style-position: inside; 
    
}


table {
  border: 5px solid green;
  width: 100%;
}

table img{
  width: 40%;
}

thead {
  background-color: green;
}

th, td {
  color: black;
  border: 1px solid black ; 
    padding: 8px;

}



.dest_img img {
  display: inline;
  width: 500px;
  margin-left: 40%;
}

.dest_info{
  display : inline-block
}

 .content{
  width: 50%;
  text-align: center;

 }

 #even{
  background-color: white ;
 }


.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}


@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.container {
  padding: 0 16px;
}


.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

*/